$white-color: #FFFFFF;
$main-color: #333333;
$purple-color: #5558FA;
$grey4: rgba(0, 0, 0, 0.04);
$grey8: rgba(0, 0, 0, 0.08);
$grey16: rgba(0, 0, 0, 0.16);
$grey24: rgba(0, 0, 0, 0.24);
$grey48: rgba(0, 0, 0, 0.48);
