@import '../../sass/variables';

.mainPage {
  margin-top: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  input {
    background-color: $grey4;
  }

  div {
    margin-bottom: 24px;
  }

  button {
    margin-top: 24px;
  }
}


